.intro {
    margin: 92px auto 0;
    color: #FFFFFF;
    width: 100%;
    max-width: 986px;
    font-family: 'Inter', Arial, sans-serif;

}

@media (max-width: 1024px) {
    .intro {
        max-width: 690px;
        margin: 92px auto 0 48px;
    }
}


@media (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 88px auto;
        padding: 0;
    }
}

@media (max-width: 320px) {
    .intro {
        max-width: 280px;
        margin: 64px 0 0 16px;
    }
}